<div class="panel panel-default">
  <div class="panel-heading">Site Statistics</div>

  <table class="table">
    <tr>
      <th>Stat Type</th>
      <th>Count</th>
      <th>Links</th>
    </tr>
    <tr>
      <td>Products</td>
      <td><%= @product_count %></td>
      <td><%= link_to 'Product Dashboard', admin_products_path %></td>
    </tr>
    <tr>
      <td>Product Categories</td>
      <td><%= @category_count %></td>
      <td><%= link_to 'Categories'%></td>
    </tr>
  </table>
</div>